h1 {

  font-family: "helvetica";
  font-size: 100px;
  font-weight: "bold";
  text-align: center;
  color: khaki;
  }
  h2 {
    background-color: mediumspringgreen;
  }
  h4 {
    background-color: lightcoral;
  }
  h5 {
    background-color: skyblue;
  }
h2,h4,h5 {
  font-family: "helvetica";
  font-size: 32px;
  font-weight: "bold";
  color: white;
}

p {
  font-family: "helvetica";
  font-weight: "bold";
}



html {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
